---
layout: default
---

{% include /functions/print-decision-header-and-text.html myInfix=page.label %}

{% include /functions/print-decision-filtering.html myFilterType="aspect" myFilterInstance=page.label %}

<p>{{ page.content }}</p>

<dl>
    {% include /functions/get-members-with-role.html myAcronymList=page.members myRole="coder" %}
    {% if memberLinkString.size > 0 %}
    <dt>Coders</dt>
    <dd>{{ memberLinkString }}</dd>
    {% endif %}

    {% include /functions/get-members-with-role.html myAcronymList=page.members myRole="architect" %}
    {% if memberLinkString.size > 0 %}
    <dt>Architects</dt>
    <dd>{{ memberLinkString }}</dd>
    {% endif %}
</dl>

{% assign filtered_decisions = site.decisions %}
{% include /functions/print-sorted-decision-table.html mydecision_list=filtered_decisions typefilter="aspect" group_acronym=page.acronym %}


