---
layout: default
---

{% include /functions/get-member-name.html myMember=page %}
<h1>Project Member »{{ memberName }}«</h1>

{% if page.aboutMe %}
<p>"{{ page.aboutMe }}"</p>
{% endif %}

<dl>
    <dt>Acronym</dt>
    <dd>{{ page.acronym }}</dd>

    {% include /functions/get-member-roles.html myMember=page %}
    <dt>Role(s)</dt>
    <dd>{{ roleString }}</dd>
</dl>

{% assign filtered_decisions = site.decisions | where: "decision_type", "team" %}
{% include /functions/print-sorted-decision-table.html mydecision_list=filtered_decisions typefilter="team" group_acronym=page.acronym %}