---
layout: default
---


<h1>Service »{{ page.title }}«</h1>

{{ page.content }}

<dl>
    {% include /functions/get-members-with-role.html myAcronymList=page.members myRole="coder" %}
    {% if memberLinkString.size > 0 %}
        <dt>Coders</dt>
        <dd>{{ memberLinkString }}</dd>
    {% endif %}

    {% include /functions/get-members-with-role.html myAcronymList=page.members myRole="architect" %}
    {% if memberLinkString.size > 0 %}
        <dt>Architects</dt>
        <dd>{{ memberLinkString }}</dd>
    {% endif %}
</dl>


{% assign thisAcronym = page.acronym %}
{% assign decisionList = site.decisions | where_exp: "dec", "dec.service == thisAcronym" %}
{% include /functions/print-sorted-decision-table.html mydecision_list=decisionList %}

