---
layout: default
---


<h1>Service »{{ page.title }}«</h1>

{{ page.content }}

<dl>
    {% assign memberAcronyms = page.members %}
    {% assign teamMembers = site.members | where_exp: "member", "memberAcronyms contains member.acronym" %}
    {% for member in teamMembers %}
        <a href="{{ site.url }}{{ member.url | relative_url }}">{{ member.acronym }}</a>
    {% endfor %}

    <dt>Coders</dt>
    {% assign role = "coder" %}
    {% assign membersInRole = teamMembers | where_exp: "member", "member.roles contains role"  %}
    {% assign acronymList = membersInRole | map: "acronym" %}
    <dd>{{ acronymList | join: ", " }}</dd>

    <dt>Architects</dt>
    {% assign role = "architect" %}
    {% assign membersInRole = teamMembers | where_exp: "member", "member.roles contains role"  %}
    {% assign acronymList = membersInRole | map: "acronym" %}
    <dd>{{ acronymList | join: ", " }}</dd>

</dl>


{% assign filtered_decisions = site.decisions | where: "decision_type", "team" %}
{% include /functions/print-sorted-decision-table.html mydecision_list=filtered_decisions typefilter="team" group_acronym=page.acronym %}

