---
layout: default
---

<h1>People and Their Decisions</h1>

<p>
    Here is a list of everyone in the project. As this needs to be a public repo (otherwise Github Pages are
    not allowed), we won't use real names here. Instead, everyone is identified by a 3-letter acronym (one letter
    first name, two letters last name). If a member has picked a nickname, it is displayed instead.
    In addition, the table lists team memberships, and decision(s) the person is responsible for.
</p>

<table>
    <thead>
    <tr>
        <th width="15%">Name</th>
        <th width="10%">Role(s)</th>
        <th width="15%">Team(s)</th>
        <th width="60%">Decisions</th>
    </tr>
    </thead>
    <tbody>
        {% assign allMembers = site.members | sort: nickname %}
        {% for person in allMembers %}
        <tr>
            {% include /functions/get-member-name.html myMember=person %}
            <td><a href="{{ site.url }}{{ person.url | relative_url }}">{{ memberName }}</a></td>

            {% include /functions/get-member-roles.html myMember=person %}
            <td>{{ roleString }}</td>

            {% assign serviceAndAspectLinks = "" | split: ";" %}
            {% for service in site.services %}
                {% if service.members contains person.acronym %}
                    {% capture someLink %}<a href="{{ site.url }}{{ service.url | relative_url }}">{{ service.title }}</a>{% endcapture %}
                    {% assign serviceAndAspectLinks = serviceAndAspectLinks | push: someLink %}
                {% endif %}
            {% endfor %}
            {% for aspect in site.aspects %}
                {% if aspect.members != nil and aspect.members contains person.acronym %}
                    {% capture someLink %}<a href="{{ site.url }}{{ aspect.url | relative_url }}">{{ aspect.label }}</a>{% endcapture %}
                    {% assign serviceAndAspectLinks = serviceAndAspectLinks | push: someLink %}
                {% endif %}
            {% endfor %}

            {% if serviceAndAspectLinks.size > 0 %}
                <td>{{ serviceAndAspectLinks | join: ", " }}</td>
            {% else %}
                <td>none</td>
            {% endif %}

            <td>
                {% for decision in site.decisions %}
                    {% assign acronym = person.acronym %}
                    {% include /functions/is-responsible-for-decision.html myDecision=decision person_acronym=acronym %}
                    {% if is_responsible_for_decision %}
                        {% include /functions/find-decision-errors.html myDecision=decision %}
                        {% if error_string.size > 0 %}
                            <img src="{{ site.url }}{{ '/assets/error-4-24.png' | relative_url }}" />
                        {% else %}
                            {% include /functions/get-status-infos.html myDecision=decision %}
                            <img class={{ status_class }} src="{{ site.url }}{{ status_filename | relative_url }}" />
                        {% endif %} &nbsp;
                        <a href="{{ site.url }}{{ decision.url | relative_url }}">{{ decision.title }}</a>
                        <br>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
