{% assign decision = include.myDecision %}
{% assign error_string = "" %}

{% comment %} --- Consistent type? --- {% endcomment %}

{% if decision.decision_type %}
	{% assign decision_type_list = "must;should;team" | split: ";" %}
	{% if decision_type_list contains decision.decision_type %}
	{% else %}
		{% assign error_string = error_string
				| append: "Unknown decision type "
				| append: decision.decision_type
				| append: ";" %}
	{% endif %}
{% else %}
	{% assign error_string = error_string | append: "Decision type is not defined;" %}
{% endif %}


{% comment %} --- Consistent state? --- {% endcomment %}

{% if decision.status %}
	{% assign status_list = "_1_open;_2_draft;_3_agreed" | split: ";" %}
	{% if status_list contains decision.status %}
	{% else %}
		{% assign error_string = error_string | append: "Unknown status " | append: decision.status | append: ";" %}
	{% endif %}
{% else %}
	{% assign error_string = error_string | append: "Status is not defined;" %}
{% endif %}


{% comment %} --- 1-3 responsible persons, all included in members? --- {% endcomment %}

{% assign raw_list = decision.responsible | split: ";" %}
{% if raw_list.size == 0 %}
	{% assign error_string = error_string | append: "No responsible person defined;" %}
{% elsif raw_list.size > 3 %}
	{% assign error_string = error_string | append: "More than 3 responsible persons defined;" %}
{% else %}
	{% for person_raw in raw_list %}
		{% assign acronym = person_raw | strip | lowcase %}
		{% assign foundMembers = site.members | where_exp: "member", "member.acronym == acronym" %}
		{% if foundMembers.size != 1 %}
			{% assign error_string = error_string
					| append: "Responsible person "
					| append: acronym
					| append: " is not defined in _members - please correct or add there;" %}
		{% endif %}
	{% endfor %}
{% endif %}

{% comment %} --- Deadline overdue? --- {% endcomment %}

{% assign check_deadline = false %}
{% if decision.status %}
	{% if decision.status != "_3_agreed"  %}
		{% assign check_deadline = true %}
	{% endif %}
{% endif %}
{% if check_deadline %}
	{% assign today = site.time | date: "%Y-%m-%d" %}
	{% assign deadline = decision.deadline | date: "%Y-%m-%d" %}
	{% if deadline < today %}
		{% assign error_string = error_string | append: "Deadline has already passed - please fix;" %}
	{% endif %}
{% endif %}

{% comment %} --- Tags all declared? --- {% endcomment %}

{% if decision.tags %}
	{% include /functions/get-all-tags.html %}
	{% assign tagList = allTagsAsString | split: ";" %}
	{% for tag in decision.tags %}
		{% if tagList contains tag %}
		{% else %}
			{% assign error_string = error_string | append: "Tag '" | append: tag | append: "' is unknown - please create a *.md file with that name in _tags!;" %}
		{% endif %}
	{% endfor %}
{% endif %}

{% comment %} --- Acronym same as filename? --- {% endcomment %}

{% if decision.tags %}
	{% include /functions/get-canonical-acronym.html myPath=decision.path %}
	{% if decision.acronym != canonicalAcronym %}
		{% assign error_string = error_string | append: "Decision acronym '" |
			append: decision.acronym |
			append: "' differs from filename - please choose the same filename as the acronym." %}
	{% endif %}
{% endif %}

{% comment %} --- Priority properly set? --- {% endcomment %}

{% if decision.priority %}
	{% if decision.priority != "1-high" and decision.priority != "2-medium" and decision.priority != "3-low" %}
		{% assign error_string = error_string | append: "Priority is set to invalid value '" |
				append: decision.priority | append: "'. Valid values are 1-high, 2-medium, and 3-low." %}
	{% endif %}
{% else %}
	{% assign error_string = error_string | append: "Priority is not set. Please add line 'priority: ...' to " |
			append: "front matter. Valid values are 1-high, 2-medium, and 3-low." %}
{% endif %}


{% comment %} --- Responsible persons fit to "belongs_to" field? --- {% endcomment %}
