{% assign myAcronym = include.myAcronym %}

{% assign serviceAndAspectLinks = "" | split: ";" %}
{% for service in site.services %}
    {% if service.members contains myAcronym %}
        {% capture someLink %}<a href="{{ site.url }}{{ service.url | relative_url }}">{{ service.title }}</a>{% endcapture %}
        {% assign serviceAndAspectLinks = serviceAndAspectLinks | push: someLink %}
    {% endif %}
{% endfor %}
{% for aspect in site.aspects %}
    {% if aspect.members != nil and aspect.members contains myAcronym %}
        {% capture someLink %}<a href="{{ site.url }}{{ aspect.url | relative_url }}">{{ aspect.label }}</a>{% endcapture %}
        {% assign serviceAndAspectLinks = serviceAndAspectLinks | push: someLink %}
    {% endif %}
{% endfor %}

{% if serviceAndAspectLinks.size > 0 %}
    {% assign serviceAndAspectLinkString = serviceAndAspectLinks | join: ", " %}
{% else %}
    {% assign serviceAndAspectLinkString = "none" %}
{% endif %}