{% assign decision_list = include.mydecision_list %}

{% assign doneDecisions = decision_list |  where: "status", "_3_agreed" %}
{% assign openDecisions = decision_list | where_exp: "dec", "dec.status != '_3_agreed'" %}

{% assign deadline_groups = openDecisions | group_by: "deadline" | sort: "name" %}
{% assign sortedOpenDecisions = "" | split: ";" %}
{% for group in deadline_groups %}
    {% assign sublist = group.items | sort: "priority" %}
    {% assign sortedOpenDecisions = sortedOpenDecisions | concat: sublist %}
{% endfor %}

{% assign completeDecisionList = sortedOpenDecisions | concat: doneDecisions %}

<table>
    <thead>
    <tr>
        <th width="2%">&nbsp;</th>
        <th width="9%">Status</th>
        <th width="46%">Title</th>
        <th width="25%">Responsible</th>
        <th width="12%">Deadline</th>
        <th width="6%">Prio</th>
    </tr>
    </thead>
    <tbody>
    {% assign lineCounter = 0 %}
    {% for decision in completeDecisionList %}
    <tr>
        {% assign lineCounter = lineCounter | plus: 1 %}
        <td>{{ lineCounter }}</td>

        {% include /functions/error-icon-string.html myDecision=decision %}
        {% if errorIconString.size == 0 %}
            {% include /functions/todo-icon-string.html myDecision=decision %}
        {% else %}
            {% assign todo_icon_string = "" %}
        {% endif %}
        {% include /functions/get-status-infos.html myDecision=decision %}
        <td><img class={{ status_class }} src="{{ site.url }}{{ status_filename | relative_url }}"/> {{ errorIconString }}{{ todo_icon_string }}</td>

        {% assign decision_file_name = decision.url %}
        <td><a href="{{ site.url }}{{ decision_file_name | relative_url }}">{{ decision.title }}</a> </td>
        {% include /functions/resolve-names.html myDecision=decision %}
        <td>{{ responsible_string }}</td>
        {% include /functions/is-decision-open.html myDecision=decision %}
        {% include /functions/is-decision-overdue.html myDecision=decision %}
        <td {% if decisionIsOverdue %}class="overdue"{% endif %}>{% if decisionIsOpen %}{{ decision.deadline }}{% endif %}</td>
        {% include /functions/priority-icon-string.html myDecision=decision %}
        <td>{% if decisionIsOpen %}{{ prioIconString }}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>