{% assign decision_list = include.mydecision_list %}
{% assign typefilter = include.typefilter %}
{% assign group_acronym = include.group_acronym %}

{% comment %}
If a typefilter ("team" or "sig") is specified, then two additional filterings are done:
1) only the corresponding decision types are filtered.
2) the decision is only listed, if it fits to the group_acronym
{% endcomment %}
{% if typefilter %}
    {% assign decision_list = decision_list | where_exp: "dec", "dec.belongs_to == group_acronym" %}
{% endif %}


{% assign done_group_decisions = decision_list |  where:"status","_5_presented" %}
{% assign decision_list = decision_list | where_exp: "dec", "dec.status != '_5_presented'" %}

{% assign done_team_decisions = decision_list |  where:"status","_3_team_agreed" %}
{% assign decision_list = decision_list | where_exp: "dec", "dec.status != '_3_team_agreed'" %}

{% assign deadline_groups = decision_list | group_by: "deadline" | sort: "name" %}
{% assign decision_list = "" | split: ";" %}
{% for group in deadline_groups %}
    {% assign sublist = group.items | sort: "priority" %}
    {% assign decision_list = decision_list | concat: sublist %}
{% endfor %}

{% assign decision_list = decision_list | concat: done_group_decisions | concat: done_team_decisions %}

<table>
    <thead>
    <tr>
        <th width="9%">Status</th>
        <th width="48%">Title</th>
        <th width="25%">Responsible</th>
        <th width="12%">Deadline</th>
        <th width="6%">Prio</th>
    </tr>
    </thead>
    <tbody>
    {% for decision in decision_list %}
    <tr>
        {% include /functions/error-icon-string.html myDecision=decision %}
        {% if errorIconString.size == 0 %}
            {% include /functions/todo-icon-string.html myDecision=decision %}
        {% else %}
            {% assign todo_icon_string = "" %}
        {% endif %}

        {% include /functions/get-status-infos.html myDecision=decision %}
        <td><img class={{ status_class }} src="{{ site.url }}{{ status_filename | relative_url }}"/> {{ errorIconString }}{{ todo_icon_string }}</td>

        {% assign decision_file_name = decision.url %}
        <td><a href="{{ site.url }}{{ decision_file_name | relative_url }}">{{ decision.title }}</a> </td>
        {% include /functions/resolve-names.html myDecision=decision %}
        <td>{{ responsible_string }}</td>
        {% include /functions/is-decision-open.html myDecision=decision %}
        <td>{% if decision_is_open %}{{ decision.deadline }}{% endif %}</td>
        {% include /functions/priority-icon-string.html myDecision=decision %}
        <td>{% if decision_is_open %}{{ prioIconString }}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>