{% assign raw_list = include.myDecision.responsible | split: ";" %}
{% assign responsible_list = "" | split: ";" %}

{% for person_raw in raw_list %}
	{% assign acronym = person_raw | strip | lowcase %}
	{% assign foundMembers = site.members | where_exp: "member", "member.acronym == acronym" %}
	{% if foundMembers.size == 1 %}
		{% assign foundMember = foundMembers.first %}
		{% include /functions/get-member-name.html myMember=foundMember %}
		{% capture someLink %}<a href="{{ site.url }}{{ foundMember.url | relative_url }}">{{ memberName }}</a>{% endcapture %}
		{% assign responsible_list = responsible_list | push: someLink %}
	{% endif %}
{% endfor %}

{% if responsible_list.size > 0 %}
	{% assign responsible_string = responsible_list | array_to_sentence_string: "and" %}
{% else %}
	{% assign responsible_string = "???" %}
{% endif %}


